<h1>All Cats</h1>

<table>
  <% @cats.sort { |a, b| a.id <=> b.id }.each do |cat| %>
    <tr>
      <td><%= link_to cat.name, cat_url(cat) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Make a new cat', new_cat_url %></p>

<p><%= link_to "Submit request", new_cat_rental_request_url %></p>
