<h1>All Cats</h1>

<ul>
<% @cats.each do |cat| %>
  <li><%= link_to cat.name, cat_url(cat) %></li>
<% end %>
</ul>

<p><%= link_to 'Make a new cat', new_cat_url %></p>

<p><%= link_to "Submit request", new_cat_rental_request_url %></p>
