<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <% flash[:errors] && flash[:errors].each do |message| %>
    <br /><%= message %>
  <% end %>
  <%= flash[:success] %>
</head>
<body>

<%= yield %>

</body>
</html>
